@inherits LayoutComponentBase
@inject LoadingService LoadingService

<MudThemeProvider Theme="AppTheme.MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.TwoTone.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudLink Href="/" Class="ml-3" Style="text-decoration: none; color: inherit;">
            <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Secondary" />
                <MudText Typo="Typo.h5"  Style="@($"color:{AppTheme.MyCustomTheme.PaletteLight.AppbarText};")">@ComDefine.APP_NAME</MudText>

            </MudStack>
        </MudLink>
        <MudSpacer />
        <UserMenu />
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Class="full-height-drawer" >
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="px-4 pt-2" Style="margin-top: var(--mud-appbar-height);">
        @Body
        <MudScrollToTop>
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.TwoTone.KeyboardArrowUp" />
        </MudScrollToTop>
    </MudMainContent>
    @if (LoadingService.IsVisible)
    {
        <MudOverlay Visible="true" LightBackground="true" Absolute="true">
            <MudProgressLinear Color="Color.Primary" Striped="true" Rounded="true" Indeterminate="true" Class="my-7" Style="width: 200px;" />
        </MudOverlay>

    }
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    未処理例外が発生しました。アプリケーションをリロードしてください。
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {
    private bool _drawerOpen = true;

    protected override void OnInitialized()
    {
        LoadingService.VisiblityChanged += StateHasChanged;
    }

    public void Dispose()
    {
        LoadingService.VisiblityChanged -= StateHasChanged;
    }

}

