@page "/categories"
@using PhrazorApp.ViewModel
@inject NavigationManager NavigationManager

<MudContainer>
    <MudStack>
        <h3>フレーズジャンル設定</h3>
        <MudForm Model="@model" @ref="@form" Validation="@(largeCategoryValidator.ValidateValue)" ValidationDelay="0">

            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudStack Row="true">
                            <MudText Typo="Typo.h6">フレーズジャンル</MudText>
                            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Size="Size.Small" OnClick="@(() => NavigationManager.NavigateTo("/categories/create"))">新規追加</MudButton>
                        </MudStack>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudTable Items="@Elements" Dense="true" Hover="true">
                        <HeaderContent>
                            <MudTh>カテゴリ</MudTh>
                            <MudTh>操作</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>
                                <MudText Typo="Typo.subtitle1">@context.Name</MudText>
                                <MudText Typo="Typo.body2" Class="ms-2" Color="Color.Secondary">
                                    @string.Join(", ", context.SubCategories.Select(s => s.Name))
                                </MudText>
                            </MudTd>
                            <MudTd Align="Right">
                                <MudButton Size="Size.Small" Variant="Variant.Outlined" Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.Edit">
                                    サブカテゴリ編集
                                </MudButton>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Read more</MudButton>
                </MudCardActions>
            </MudCard>

        </MudForm>


    </MudStack>
</MudContainer>



@code {
    [Inject] ISnackbar Snackbar { get; set; }

    MudForm form;

    LargeCategoryModelValidator largeCategoryValidator = new LargeCategoryModelValidator();
    SmallCategoryModelValidator smallCategoryValidator = new SmallCategoryModelValidator();


    private LargeCategoryModel model = new LargeCategoryModel();



    private List<LargeCategoryModel> Elements = new List<LargeCategoryModel>
    {
        new LargeCategoryModel { Id = new Guid(), Name = "ジャンル1", SubCategories = new List<SmallCategoryModel>() {
            new SmallCategoryModel { Id = new Guid(), Name = "サブジャンル1" },
            new SmallCategoryModel { Id = new Guid(), Name = "サブジャンル2" }
        } },
        new LargeCategoryModel { Id = new Guid(), Name = "ジャンル2" },
        new LargeCategoryModel { Id = new Guid(), Name = "ジャンル3" }
    };

    private void OnAddButtonClicked()
    {
        Elements.Add(new LargeCategoryModel());
    }

    private async Task Submit()
    {
        await form.Validate();

        if (form.IsValid)
        {
            Snackbar.Add("Submitted!");
        }
    }

}
