@page "/categories/create"
@page "/categories/edit/{Id:guid}"
@inject NavigationManager NavigationManager


<MudContainer>
    <MudForm Model="@model" @ref="@form" Validation="@(largeCategoryValidator.ValidateValue)" ValidationDelay="0">

        <MudStack Spacing="2">
            <h2>フレーズカテゴリ編集</h2>
            <MudCard>
                <MudCardContent Class="py-2">
                    <MudStack Row="true" Spacing="1">
                        <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save">@ComDefine.LABEL_BUTTON_REGISTER</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Error" StartIcon="@Icons.Material.Filled.Block" OnClick="Clear">@ComDefine.LABEL_BUTTON_CLEAR</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.NavigateBefore" 　OnClick="@(() => NavigationManager.NavigateTo("/categories"))">@ComDefine.LABEL_BUTTON_RETURN_INDEX</MudButton>
                    </MudStack>
                </MudCardContent>
            </MudCard>
            <MudCard>
                <MudCardHeader Class="py-2">
                    <CardHeaderContent>
                        <MudStack Row="true">
                            <h3>
                                カテゴリ入力
                            </h3>
                        </MudStack>


                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent Class="py-2">
                    <MudGrid Spacing="1">
                        <MudItem xs="12" md="4">
                            <MudTextField @bind-Value="@model.Name"
                                          Margin="Margin.Dense" Variant="Variant.Outlined" Label="カテゴリ名" For="() => model.Name" ShrinkLabel />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>

            </MudCard>

            <MudCard>
                <MudCardHeader Class="py-2">
                    <CardHeaderContent>
                        <MudStack Row="true" Class="align-center">
                            <MudIcon Icon="@Icons.Material.Filled.ListAlt" Title="ListAlt" />
                            <h3>
                                サブカテゴリ一覧入力
                            </h3>
                            <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Add" OnClick="OnAddButtonClicked">@ComDefine.LABEL_ROW_ADD</MudButton>
                        </MudStack>

                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent Class="py-2">
                    <MudTable Items="@model.SubCategories" Dense="true" Hover="true" FixedHeader="true" Height="370px" Bordered="true" @ref="table" >
                        <HeaderContent>
                            <MudTh>サブカテゴリ名</MudTh>
                            <MudTh>操作</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>
                                <MudFocusTrap DefaultFocus="DefaultFocus.FirstChild">
                                    <MudTextField @bind-Value="@context.Name"
                                                  Class="pb-2" Margin="Margin.Dense" Variant="Variant.Outlined" Label="カテゴリ" For="() => model.Name" ShrinkLabel />
                                </MudFocusTrap>
                            </MudTd>
                            <MudTd>
                                <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" OnClick="OnAddButtonClicked">@ComDefine.LABEL_BUTTON_DELETE</MudButton>
                            </MudTd>
                        </RowTemplate>
     
                    </MudTable>
                </MudCardContent>
            </MudCard>



        </MudStack>
    </MudForm>

</MudContainer>



@code {
    [Inject] ISnackbar Snackbar { get; set; }

    [Parameter]
    public Guid? Id { get; set; }

    MudForm form;
    /// <summary>
    /// サブカテゴリ一覧のref
    /// </summary>
    MudTable<SmallCategoryModel> table;

    LargeCategoryModelValidator largeCategoryValidator = new LargeCategoryModelValidator();
    SmallCategoryModelValidator smallCategoryValidator = new SmallCategoryModelValidator();


    private LargeCategoryModel model = new LargeCategoryModel();

    private SmallCategoryModel itemBeforeEdit;

    private void Clear()
    {
        model = new();
    }

    private void BeginEdit(SmallCategoryModel item)
    {
        item.Name = item.Name;
        item.IsEditing = true;
    }

    private void SaveEdit(SmallCategoryModel item)
    {
        item.Name = item.Name;
        item.IsEditing = false;
    }

    private void CancelEdit(SmallCategoryModel item)
    {
        item.IsEditing = false;
    }

    /// <summary>
    /// 行追加ボタン押下時の処理
    /// </summary>
    /// <returns></returns>
    private void OnAddButtonClicked()
    {


        var newSub = new SmallCategoryModel { Id = Guid.NewGuid(), Name = "" , IsEditing = true};
        model.SubCategories.Add(newSub);

    }

    /// <summary>
    /// 行削除ボタン押下時の処理
    /// </summary>
    /// <param name="id"></param>
    private void OnDeleteButtonClicked(Guid id)
    {
        model.SubCategories = model.SubCategories.Where(x => x.Id != id).ToList();
    }

    /// <summary>
    /// 編集前にアイテムをバックアップする
    /// </summary>
    /// <param name="element"></param>
    private void BackupItem(object element)
    {
        itemBeforeEdit = new()
        {
            Id = ((SmallCategoryModel)element).Id,
            Name = ((SmallCategoryModel)element).Name,
        };
    }


    /// <summary>
    /// 編集中のアイテムを編集前の状態に戻す
    /// </summary>
    /// <param name="element"></param>
    private void ResetItemToOriginalValues(object element)
    {
        ((SmallCategoryModel)element).Id = itemBeforeEdit.Id;
        ((SmallCategoryModel)element).Name = itemBeforeEdit.Name;
    }

    private async Task Submit()
    {
        await form.Validate();

        if (form.IsValid)
        {
            Snackbar.Add("Submitted!");
        }
    }

}
